{% extends 'base.html' %}
{% load static %}
{% block cssnya %}
    <link rel="stylesheet" href="{% static 'css/reg.css' %}" type="text/css">
    {% endblock %}
{% block title %}
  Daftar
{% endblock %}
{% block content %}
    <center>
        <br><br><br><br><br>
        <div>
            <img src="{% static 'img/logo.png' %}">
        </div>
    </center>
{% endblock %}
