{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% block cssnya %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/util-admin.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main-admin.css' %}">
<!--===============================================================================================-->
{% endblock %}

{% block title %}
  Buat Review Baru
{% endblock %}


<body>
{% block content %} 
  <div class="container-contact100">
    <div class="contact100-map" id="google_map" data-map-x="40.722047" data-map-y="-73.986422" data-pin="images/icons/map-marker.png" data-scrollwhell="0" data-draggable="1"></div>

    <div class="wrap-contact100">
      <div class="contact100-form-title" style="background-image: url(images/bg-01.jpg);">
        <span class="contact100-form-title-1">
          Form Tulis Review
        </span>

        <span id="no-resi" class="contact100-form-title-2">
          {{no_resi}}
        </span>
      </div>
      <div class="contact100-form validate-form" style="height: 100%;">

        <div class="wrap-input100 validate-input" data-validate="Name is required">
          <span class="label-input100">Barang:</span>
          <div class="input-group">
            <div class="rs-select2 js-select-simple select--no-search" >
                <select id= "input-id_barang" name="id_barang">
                    <!-- <option disabled="disabled" selected="selected">barang-id</option> -->
                    {% for barang in barang_dikirim %}
                    <option selected = "selected">{{barang.nama_item}}-{{barang.id_barang}}</option>
                    {%endfor%}
                </select>
                <div class="select-dropdown"></div>
            </div>
        </div>
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Name is required">
          <span class="label-input100">Review:</span>
          <input id= "input-review" class="input100" type="text" name="name" placeholder="Tulis review anda">
          <span class="focus-input100"></span>
        </div>


        <button id="button-submit2" class="contact100-form-btn">
            <span>
              Submit
            </span>
        </button>
      </div>
    </div>
  </div>

  <!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Konfirmasi pembuatan review</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="confirm-modal" class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
          <button type="button" class="btn btn-primary">
            <a style="color:white" href="#" id="btn-create-pengiriman">Buat Review</a>
          </button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
</body>
</html>