{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% block cssnya %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/util-admin.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main-admin.css' %}">

<!--===============================================================================================-->
{% endblock %}
  
{% block title %}
  Buat Pengiriman
{% endblock %}


{% block content %} 
<div class="container-contact100">
  <div class="contact100-map" id="google_map" data-map-x="40.722047" data-map-y="-73.986422" data-pin="images/icons/map-marker.png" data-scrollwhell="0" data-draggable="1"></div>

  <div class="wrap-contact100">
    <div class="contact100-form-title" style="background-image: url(images/bg-01.jpg);">
      <span class="contact100-form-title-1">
        Pembuatan Pengiriman Baru
      </span>

      <span id = "id-pemesanan" class="contact100-form-title-2">
        {{id_pemesanan}}
      </span>
    </div>

    <div class="contact100-form validate-form" style="height: 100%;">
    

      <div class="wrap-input100 validate-input" data-validate="Barang kiriman harus diisi">
        <span class="label-input100">Barang Pesanan:</span>
        <div class="form-group">
            <select id="input-barang" name="Barang Pesanan">
                <option disabled="disabled" selected="selected">Barang Pesanan</option>
                {% for barang in barang_pesanan %}
                <option>{{barang.nama_item }}-{{barang.id_barang}}</option>
                {% endfor %}
            </select>
            <!-- {% for barang in barang_pesanan %}
              <input type="checkbox" name="{{barang.id_barang}}" id="input-barang-{{barang.id_barang}}" class="checkbox-barang" />
              <label for="{{barang.id_barang}}" class="label-checkbox-barang"><span><span></span></span>{{barang.nama_item }}</label>
              <br>
            {% endfor %} -->
          </div>
        <span class="focus-input100"></span>
      </div>

      <div class="wrap-input100 validate-input" data-validate="Alamat kiriman harus diisi">
          <span class="label-input100">Alamat Tujuan:</span>

          <div class="rs-select2 js-select-simple select--no-search">
              <select id="input-alamat" name="Alamat">
                  <option disabled="disabled" selected="selected">Alamat</option>
                  {% for a in alamat %}
                  <option>{{a.alamat_lengkap}}</option>
                  {% endfor %}
              </select>
              <div class="select-dropdown"></div>
          </div>
          <span class="focus-input100"></span>
      </div>

      <div class="wrap-input100 validate-input" data-validate="Tanggal pengiriman harus diisi">
        <span class="label-input100">Tanggal Pengiriman:</span>
        <input id="input-tanggal" class="input100" type="date" name="deskripsi" placeholder="Tanggal Pengiriman">
        <span class="focus-input100"></span>
      </div>

      <div class="wrap-input100 validate-input" data-validate="Metode pengiriman harus diisi">
        <span class="label-input100">Metode :</span>
        <input id="input-metode" class="input100" type="text" name="min" placeholder="Metode">
        <span class="focus-input100"></span>
      </div>
        <button id="button-submit" class="contact100-form-btn">
          <span>
            Submit
          </span>
        </button>
      </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Konfirmasi Pengiriman</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="confirm-modal" class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
        <button type="button" class="btn btn-primary">
          <a style="color:white" href="#" id="btn-create-pengiriman">Konfirmasi</a>
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}