{% extends 'base.html' %}
{% load static %}

{% block cssnya %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'css/util-item.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main-item.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block title %}
  Daftar Pengiriman
{% endblock %}


{% block content %}
<div class="limiter">
    <div style="padding: 10px 30px; background: #C0F3F0"></div>
        <center><h1> Daftar Pengiriman </h1></center>
        <br>     
        <div class="container-table90" style="padding: 15px 30px; background: #C0F3F0">
          <div class="table">
              <div class="row header">
                <div class="cell" style="width: 10%;">
                  No
                </div>
                <div class="cell" style="width: 30%;">
                  Nama Barang - ID Pemesanan
                </div>
                <div class="cell" style="width: 20%;">
                  Harga total
                </div>
                <div class="cell" style="width: 25%;">
                  Tanggal Pengiriman
                </div>
                <div class="cell" style="width: 25%;">               
                </div>
              </div>
              {% for kiriman in daftar_pengiriman %}
              <div class="row">
                  <div class="cell align-middle" data-title="No">
                    {{forloop.counter}}
                  </div>
                  <div class="cell align-middle" data-title="Barang">
                    <ul>
                      {% for barang_kiriman in kiriman.barang_kiriman %}
                      <div>{{barang_kiriman}} - {{kiriman.id_pemesanan}}</div>
                      {% endfor %}
                    </ul>
                  </div>
                  <div class="cell align-middle" data-title="Harga Total">
                    Rp. {{kiriman.ongkos}}
                  </div>
                  <div class="cell align-middle" data-title="Tanggal Pengiriman">
                    {{kiriman.tanggal}}
                  </div>
                  <div class="cell align-middle" data-title="Action">
                        <a class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Update" style="color:white" href="/update-pengiriman/{{kiriman.no_resi}}"><i class="fa fa-refresh"></i></a>
                        <a class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Buat Review" style="color:white" href="/buat-review/{{kiriman.no_resi}}"><i class="fa fa-edit"></i></a>
                        <button type="button" data-toggle="modal" data-target="#exampleModal{{kiriman.no_resi}}">
                          <a class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Delete" style="color:white"><i class="fa fa-trash"></i></a>
                        </button>
                  </div>
              </div>
              {% endfor %}
          </div>
        </div>
    </div>
</div>

<!-- Modal -->
{% for kiriman in daftar_pengiriman %}
<div class="modal fade" id="exampleModal{{kiriman.no_resi}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Konfirmasi hapus pengiriman</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Anda yakin akan menghapus pengiriman dengan nomor resi : {{kiriman.no_resi}} ? 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tidak</button>
        <button type="button" class="btn btn-danger">
          <a style="color:white" href="/hapus-pengiriman/{{kiriman.no_resi}}/">Ya, Hapus</a>
        </button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}
