{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% block cssnya %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/util-admin.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main-admin.css' %}">
<!--===============================================================================================-->
{% endblock %}
  
{% block title %}
  Buat Review
{% endblock %}


{% block content %} 
<div class="limiter">
  <div style="padding: 10px 30px; background: #C0F3F0"></div>
      <center><h1> Daftar Review </h1></center>
      <br>     
      {% for review in review_data %}
      <div style="margin: 10px 30px" class="review card">
          <div class="review card-body">
            <h4 class="review card-title">{{review.nama_barang}} -#{{review.no_resi}}</h4>
            <p class="card-text"><small class="text-muted">{{review.tanggal_review}}</small></p>
            <p>{{review.review}}</p>
            <a href="/update-review/{{review.no_resi}}/" class="card-link">Update</a>
            <button type="button" data-toggle="modal" data-target="#exampleModal{{review.no_resi}}">
                <a href="#" class="card-link" style="color:crimson">Delete</a>
            </button>
            
          </div>
      </div>
      {% endfor %}

      {% for review in review_data %}
<div class="modal fade" id="exampleModal{{review.no_resi}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Konfirmasi hapus Review</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Anda yakin akan menghapus Review untuk barang {{review.nama_barang}} dengan nomor resi : {{review.no_resi}} ? 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tidak</button>
        <button type="button" class="btn btn-danger">
          <a style="color:white" href="/hapus-pengiriman/{{kiriman.no_resi}}/">Ya, Hapus</a>
        </button>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}