{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Daftar Pemesanan</title>
  <meta charset="UTF-8">
  {% block cssnya %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->  
  <link rel="stylesheet" type="text/css" href="{% static 'css/util-item.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main-item.css' %}">
<!--===============================================================================================-->
  {% endblock %}

</head>
<body>
  {% block content %}   
  <div class="limiter">
    <div class="container-table100" style="padding: 3px 30px; background: #C0F3F0">
      <div class="wrap-table100">
          <center><h1> Buat Pengiriman</h1></center>
            <center><h4> Silahkan pilih pemesanan yang akan dikirim</h4></center>
            <br><br>
          <div class="table">
            <div class="row header">
              <div class="cell" style="width: 10%;">
                Id pemesanan
              </div>
              <div class="cell" style="width: 30%;">
                Nama Pengguna
              </div>
              <div class="cell" style="width: 30%;">
                  Status
                </div>
              <div class="cell" style="width: 25%;">
                Action
              </div>
            </div>
            {% for ID_pesanan in id_pesanan %}
              <div class="row">
                <div class="cell" data-title="Id pemesanan">
                    {{ID_pesanan.id_pemesanan}}
                </div>
                <div class="cell" data-title="Nama Pengguna">
                    {{ID_pesanan.nama_lengkap}}
                </div>
                <div class="cell" data-title="Status">
                    {{ID_pesanan.status}}
                </div>
                <div class="cell" data-title="Action">
                    <a href="/buat-pengiriman/{{ID_pesanan.id_pemesanan}}/" class="btn btn-info" role="button" style="background-color: black;">Pilih</a>
                </div>
              </div>
              {% endfor %}
          </div>
      </div>
    </div>
  </div>
  {% endblock %}
</body>
</html>