{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% block cssnya %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/util-admin.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main-admin.css' %}">
<!--===============================================================================================-->
{% endblock %}
  
{% block title %}
  Chat
{% endblock %}


{% block content %} 
<div class="container-contact100">
  <div class="contact100-map" id="google_map" data-map-x="40.722047" data-map-y="-73.986422" data-pin="images/icons/map-marker.png" data-scrollwhell="0" data-draggable="1"></div>

  <div class="wrap-contact100">
    <div class="contact100-form-title" style="background-image: url(images/bg-01.jpg);">
      <span class="contact100-form-title-1">
        Chat dengan Pengguna
      </span>   

      <span class="contact100-form-title-2">
        Admin Toys Rent
      </span>
    </div>
    <div class="d-flex justify-content-center">
        <ul>
          {% for i in chat %}
          <li><a href='{% url "detailchatadmin" i.no_ktp_anggota%}'>{{i.no_ktp_anggota}}</a></li>
          {% endfor %}
        </ul>
    </div>

  </div>
</div>

<div id="dropDownSelect1"></div>  
{% endblock %}