{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% block cssnya %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/util-admin.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main-admin.css' %}">
<!--===============================================================================================-->
{% endblock %}
  
{% block title %}
  Chat
{% endblock %}


{% block content %} 
<div class="container-contact100">
  <div class="contact100-map" id="google_map" data-map-x="40.722047" data-map-y="-73.986422" data-pin="images/icons/map-marker.png" data-scrollwhell="0" data-draggable="1"></div>

  <div class="wrap-contact100">
    <div class="contact100-form-title" style="background-image: url(images/bg-01.jpg);">
      <span class="contact100-form-title-1">
        Chat dengan Admin
      </span>   

      <span class="contact100-form-title-2">
        Admin Toys Rent
      </span>
    </div>

    <form class="contact100-form validate-form" method ="POST" style="height: 100%;">
        {% csrf_token %}
        <div>
          {%for i in chat%}
            <p>{{i.pesan}}</p>
          {%endfor%}
        </div>
        
      <div class="wrap-input100 validate-input" data-validate="Pesan is required">
        <span class="label-input100">Pesan:</span>
        <input class="input100" type="text" name="pesan" placeholder="Pesan">
        <span class="focus-input100"></span>
      </div>
      <div class="container-contact100-form-btn">
        <button class="contact100-form-btn">
          <span>
            Submit
            <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
          </span>
        </button>
      </div>
    </form>
  </div>
</div>

<div id="dropDownSelect1"></div>  
{% endblock %}