{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}
  Detail Barang
{% endblock %}

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% block cssnya %}
<!-- main css -->
<link rel="stylesheet" href="{% static 'css/profil_css.css' %}">
</head>
{% endblock %}

{% block content %} 
<!-- Hero section start -->
	
	<section class="hero-section spad">
		<center><h1 style="font-size: 80px; margin-top: 50px;"> Informasi Barang</h1></center>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-10 offset-xl-1">
					<div class="row">
						<div class="col-lg-10">
							
							<div class="hero-info">
								<h2>Informasi:</h2>
								<ul>
									<li><span>ID Barang</span>{{id_barang}}</li>
									<li><span>Nama Item</span>{{nama_item}}</li>
									<li><span>Warna</span>{{warna}}</li>
									<li><span>URL Foto</span>{{url_foto}}</li>
									<li><span>Kondisi</span>{{kondisi}}</li>

								</ul>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
    </section>
    
    <!--- section for review-->
    <div>
        <br><br><br><br><br>
        <h3>Review untuk barang ini</h3>
    </div>
    <div>
        <div style="margin: 10px 30px" class="review card">
            <div class="review card-body">
                <h4 class="review card-title">BARANG1 #ID-PEMESANAN</h4>
                <p class="card-text"><small class="text-muted">20 April 2019</small></p>
                <p>Yang bikin halaman nya ganteng</p>
                <a href="{% url 'update_review' %}" class="card-link">Update</a>
                <a href="#" class="card-link" style="color:crimson">Delete</a>
            </div>
        </div>
        
        <div style="margin: 10px 30px" class="review card">
            <div class="review card-body">
                <h4 class="review card-title">BARANG1 #ID-PEMESANAN</h4>
                <p class="card-text"><small class="text-muted">20 April 2019</small></p>
                <p>Yang bikin halaman nya ganteng</p>
                <a href="{% url 'update_review' %}" class="card-link">Update</a>
                <a href="#" class="card-link" style="color:crimson">Delete</a>
            </div>
        </div>
    </div>
	<!-- Hero section end -->
{% endblock %}