{% extends 'base.html' %}
{% load static %}

{% block cssnya %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'css/util-item.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main-item.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block title %}
  Daftar Barang
{% endblock %}


{% block content %}
<div class="limiter">
    <div style="padding: 10px 30px; background: #C0F3F0"></div>
        <center><h1> Daftar Pengiriman </h1></center>
        
        <div class="d-flex justify-content-center">
            <div class="div1">
                <form class="form-inline">
                    <div class="input-group">
                        <div class="rs-select2 js-select-simple select--no-search">
                            <select name="filter">
                                <option disabled="disabled" selected="selected">Filter</option>
                                {% for i in kategori %}
                                  <option>{{i.nama}}</option>
                                {% endfor %}
                            </select>
                            <div class="select-dropdown"></div>
                        </div>
                    </div>

                    <div class="input-group">
                        <div class="rs-select2 js-select-simple select--no-search">
                            <select name="sort">
                                <option disabled="disabled" selected="selected">Sort</option>
                                <option value="nama">Nama</option>
                                <option value="kategori">Kategori</option>
                            </select>
                            <div class="select-dropdown"></div>
                        </div>
                    </div>
                        <button type="submit" class="btn btn-primary mb-2">Filter & sort</button>
                      </form>
            </div>
        </div>
        <br>     
        <div class="container-table90" style="padding: 15px 30px; background: #C0F3F0">
          <div class="table">
              <div class="row header">
                <div class="cell" style="width: 10%;">
                  ID
                </div>
                <div class="cell" style="width: 30%;">
                  Nama Item
                </div>
                <div class="cell" style="width: 20%;">
                  Warna
                </div>
                <div class="cell" style="width: 20%;">
                  Kondisi
                </div>
                <div class="cell" style="width: 20%;">
                  Action               
                </div>
              </div>

              {% for i in daftar %}
            <div class="row">
              <div class="cell" data-title="ID">
                {{i.id_barang}}
              </div>
              <div class="cell" data-title="nama_item">
                {{i.nama_item}}
              </div>
              <div class="cell" data-title="warna">
                {{i.warna}}
              </div>
              <div class="cell" data-title="kondisi">
                {{i.kondisi}}
              </div>
              <div class="cell align-middle" data-title="Action">
                <a class="btn btn-primary" style="color:white" href="{% url 'detail_barang' i.id_barang %}"><i class="fa fa-ellipsis-h"></i></a>
                <a class="btn btn-danger" style="color:white"href="{% url 'hapus_barang' i.id_barang %}"><i class="fa fa-trash"></i></a>
                <a class="btn btn-primary" style="color:white" href="{% url 'buat_review' %}"><i class="fa fa-check"></i></a>
                <a class="btn btn-primary" style="color:white" href="{% url 'update_barang' i.id_barang %}"><i class="fa fa-edit"></i></a>
              </div>
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary mb-2">Pesan</button>
            <button href="{% url 'tambah_barang' %}" class="btn btn-primary mb-2">Buat Barang</button>
          </div>
        </div>
    </div>
</div>
{% endblock %}
