{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% block cssnya %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/util-admin.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main-admin.css' %}">
<!--===============================================================================================-->
{% endblock %}
  
{% block title %}
  Tambah Barang
{% endblock %}


{% block content %} 
<div class="container-contact100">
  <div class="contact100-map" id="google_map" data-map-x="40.722047" data-map-y="-73.986422" data-pin="images/icons/map-marker.png" data-scrollwhell="0" data-draggable="1"></div>

  <div class="wrap-contact100">
    <div class="contact100-form-title" style="background-image: url(images/bg-01.jpg);">
      <span class="contact100-form-title-1">
        Form {% if id_barang %}Pengubahan Data{% else %}Penambahan{% endif %} Barang
      </span>

      <span class="contact100-form-title-2">
        Toys Rent
      </span>
    </div>

    <form class="contact100-form validate-form" method="POST" style="height: 100%;">
      {% csrf_token %}
      
      <div class="wrap-input100 validate-input" data-validate="ID is required">
        <span class="label-input100">ID Barang:</span>
        <input class="input100" type="text" name="id_barang" placeholder="ID Barang" disabled="{% if id_barang %}disabled{% endif %}" value="{{id_barang}}">
        <span class="focus-input100"></span>  
      </div>

      <div class="input-group">
        <div class="rs-select2 js-select-simple select--no-search">
            <span class="label-input100">Nama:</span>
            <select name="nama_item">
                <option disabled="disabled" selected="{% if not nama_item %}selected{% endif %}">Nama</option>
                {% for i in daftar_item %}
                <option selected="{% if i.nama == nama_item %}selected{% endif %}">{{i.nama}}</option>
                {% endfor %}
            </select>
            <div class="select-dropdown"></div>
        </div>
    </div>

      <div class="wrap-input100 validate-input" data-validate="Warna is required">
        <span class="label-input100">Warna:</span>
        <input class="input100" type="text" name="warna" value="{{warna}}" placeholder="Warna Barang">
        <span class="focus-input100"></span>
      </div>

      <div class="wrap-input100 validate-input" data-validate="URL is required">
        <span class="label-input100">URL Foto:</span>
        <input class="input100" type="text" name="url_foto" value="{{url_foto}}" placeholder="url foto">
        <span class="focus-input100"></span>
      </div>

      <div class="wrap-input100 validate-input" data-validate="Kondisi Barang is required">
        <span class="label-input100">Kondisi Barang:</span>
        <input class="input100" type="text" name="kondisi" value="{{kondisi}}" placeholder="Kondisi Barang">
        <span class="focus-input100"></span>
      </div>

      <div class="wrap-input100 validate-input" data-validate="Lama Penggunaan is required">
        <span class="label-input100">Lama Penggunaan:</span>
        <input class="input100" type="text" name="lama" value="{{lama_penggunaan}}" placeholder="Lama Penggunaan Barang">
        <span class="focus-input100"></span>
      </div>

      <div class="input-group">
          <div class="rs-select2 js-select-simple select--no-search">
              <span class="label-input100">Penyewa:</span>
              <select name="nama_penyewa">
                  <option disabled="disabled" selected="{% if not no_ktp_penyewa %}selected{% endif %}">Nama Penyewa</option>
                  {% for i in daftar_pengguna %}
                  <option selected="{% if i.no_ktp == no_ktp_penyewa %}selected{% endif %}" value="{{i.no_ktp}}">{{i.nama_lengkap}}</option>
                  {% endfor %}
              </select>
              <div class="select-dropdown"></div>
          </div>
      </div>

      <div class="wrap-input100 validate-input" data-validate="Bronze">
        <span class="label-input100">Bronze:</span>
        <input class="input100" type="text" name="bronze_royalti" value="{{Bronze.porsi_royalti}}" placeholder="Persen Royalti">
        <input class="input100" type="text" name="bronze_harga" value="{{Bronze.harga_sewa}}" placeholder="Harga Sewa (Rp.)">
        <span class="focus-input100"></span>
      </div>

      <div class="wrap-input100 validate-input" data-validate="Silver">
        <span class="label-input100">Silver:</span>
        <input class="input100" type="text" name="silver_royalti" value="{{Silver.porsi_royalti}}" placeholder="Persen Royalti">
        <input class="input100" type="text" name="silver_harga" value="{{Silver.harga_sewa}}" placeholder="Harga Sewa (Rp.)">
        <span class="focus-input100"></span>
      </div>

      <div class="wrap-input100 validate-input" data-validate="Gold">
        <span class="label-input100">Gold:</span>
        <input class="input100" type="text" name="gold_royalti" value="{{Gold.porsi_royalti}}" placeholder="Persen Royalti">
        <input class="input100" type="text" name="gold_harga" value="{{Gold.harga_sewa}}" placeholder="Harga Sewa (Rp.)">
        <span class="focus-input100"></span>
      </div>

      <div class="container-contact100-form-btn">
        <button class="contact100-form-btn">
          <span>
            Submit
            <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
          </span>
        </button>
      </div>
    </form>
  </div>
</div>

<div id="dropDownSelect1"></div>  
{% endblock %}