.hero-section {
	background: #C0F3F0;
}

.hero-text {
	margin-bottom: 80px;
}

.hero-text h2 {
	font-size: 40px;
	line-height: normal;
	text-decoration: underline overline;
}

.hero-text p {
	font-size: 20px;
	line-height: 1.3;
}

.hero-image {
	padding-top: 70px;
}

.hero-info h2 {
	margin-bottom: 10px;
	text-decoration: underline;
}

.hero-info ul {
	list-style: none;
}

.hero-info ul li {
	font-size: 20px;
	color: #808181;
	margin-bottom: 15px;
	width: 100%;
}

.hero-info ul li span {
	color: #40424a;
	display: inline-block;
	min-width: 200px;
}

.hero-info ul li:last-child {
	margin-bottom: 0;
}