{% load staticfiles %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="icon" href="{% static 'img/logo.png' %}">
    {% block cssnya %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>
        {% block title %}
        {% endblock %}
    </title>
  </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="{% url 'redirect' %}">
            <img src="{% static 'img/logo.png' %}" width="44" height="30" class="d-inline-block align-top" alt="">
            ToysRent
          </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <!-- Navbar Rata Kiri -->
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="{% url 'profil_page' %}">Profil</a>
            <!-- <a class="nav-item nav-link" href="{% url 'redirect' %}">Home <span class="sr-only">(current)</span></a> -->
           
            {% if request.session.response.login_as_admin %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPengiriman" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Item
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownPengiriman">
                  <a class="dropdown-item" href="{% url 'add_item_multiselect' %}">Tambah Item</a>
                  <a class="dropdown-item" href="{% url 'daftar_item_admin_page' %}">Daftar Item</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPengiriman" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Barang
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownPengiriman">
                  <a class="dropdown-item" href="{% url  'tambah_update_barang' %}">Tambah Barang</a>
                  <a class="dropdown-item" href="{% url 'list_barang' %}">Daftar Barang</a>
                </div>
            </li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPengiriman" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Level
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownPengiriman">
                  <a class="dropdown-item" href="{% url 'tambah_level' %}">Tambah Level</a>
                  <a class="dropdown-item" href="{% url 'daftar_level' %}">Daftar Level</a>
                </div>
            </li>
            {% else %}
            <a class="nav-item nav-link" href="{% url 'daftar_item_page' %}">Daftar Item</a>
            <a class="nav-item nav-link" href="{% url 'list_barang' %}">Daftar Barang</a>
            {% endif %}
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPengiriman" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Pesanan
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownPengiriman">
                  <a class="dropdown-item" href="{% url 'pemesanan' %}">Buat Pesanan</a>
                  <a class="dropdown-item" href="{% url 'daftar_pemesanan' %}">Daftar Pesanan</a>
                </div>
            </li>
          

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPengiriman" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Pengiriman
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownPengiriman">
                  <a class="dropdown-item" href="{% url 'buat_pengiriman' %}">Buat Pengiriman</a>
                  <a class="dropdown-item" href="{% url 'daftar_pengiriman' %}">Daftar Pengiriman</a>
                </div>
            </li>
            <a class="nav-item nav-link" href="{% url 'chatadmin' %}">Chat</a>
            <a class="nav-item nav-link" href="{% url 'daftar_review' %}">Review</a>
            
          </div>
          <!-- Navbar Rata Kanan -->
          <div class="navbar-nav ml-auto">
              {% if request.session.response.no_ktp_yang_lagi_login %}
              <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
              {% else %}
              <a class="nav-item nav-link" href="{% url 'logout' %}">Login</a>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Register
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'admin_page' %}">Admin</a>
                    <a class="dropdown-item" href="{% url 'anggota_page' %}">Anggota</a>
                  </div>
                </li>
              {% endif %}
            
          </div>

        </div>
      </nav>
    {% block content %}
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery-1.12.4.js' %}" ></script>
    <script src="{% static 'js/jquery-ui.js' %}" ></script>
    <script src="{% static 'js/profile.js' %}"></script>
    <script src="{% static 'js/pengiriman.js'%}"></script>
</body>
</html>
