<!-- ANGGOTA -->

{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Daftar Pemesanan</title>
  <meta charset="UTF-8">
  {% block cssnya %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->  
  <link rel="stylesheet" type="text/css" href="{% static 'css/util-item.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main-item.css' %}">
<!--===============================================================================================-->
  {% endblock %}

</head>
<body>
  {% block content %}   
  <div class="limiter">
    <div class="container-table100" style="padding: 3px 30px; background: #C0F3F0">
      <div class="wrap-table100">
            <br>
            <center><h1> Daftar Pemesanan </h1></center>
            <br>
            <a href="{% url 'pemesanan' %}" class="btn btn-info" role="button" style="background-color: black;">Pesan barang lagi</a>
            <br><br>
          <div class="table">
            <div class="row header">
              <div class="cell" style="width: 10%;">
                Id pesanan
              </div>
              <div class="cell" style="width: 30%;">
                Daftar barang
              </div>
              <div class="cell" style="width: 20%;">
                Harga
              </div>
              <div class="cell" style="width: 20%;">
                Status
              </div>
              <div class="cell" style="width: 25%;">
                Action
              </div>
              <div class="cell" style="width: 25%;">
                Action
              </div>
            </div>

            {% for i in daftar %}
            <div class="row">
              <div class="cell" data-title="id pemesanan">
                {{i.id_pemesanan}}
              </div>
              <div class="cell" data-title="daftar barang">
                {{i.nama_item}}
              </div>
              <div class="cell" data-title="harga">
                {{i.harga_sewa}}
              </div>
              <div class="cell" data-title="status">
                {{i.status}}
              </div>
              <div class="cell" data-title="Location">
                <a class="btn btn-primary" href="{% url 'update_pesanan' %}">Update</a>
              </div>
              <div class="cell" data-title="Location">
                <a class="btn btn-primary" href="#">Delete</a>
              </div>
            </div>
            {% endfor %}
          </div>
      </div>
    </div>
  </div>
  {% endblock %}
</body>
</html>