{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Daftar Level</title>
  <meta charset="UTF-8">
  {% block cssnya %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->  
  <link rel="stylesheet" type="text/css" href="{% static 'css/util-item.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main-item.css' %}">
<!--===============================================================================================-->
  {% endblock %}

</head>
<body>
  {% block content %}   
  <div class="limiter">
    <div class="container-table100" style="padding: 3px 30px; background: #C0F3F0">
      <div class="wrap-table100">
            <center><h1> Daftar Level </h1></center>
            <br>
            <a href="{% url 'tambah_level' %}" class="btn btn-info" role="button" style="background-color: black;">Create Level</a>
            <br><br>
          <div class="table">
            <div class="row header">

              <div class="cell" style="width: 30%;">
               Nama level
              </div>
              <div class="cell" style="width: 20%;">
               Deskripsi
              </div>
              <div class="cell" style="width: 20%;">
               Minimum poin
              </div>
              <div class="cell" style="width: 25%;">
                Action
              </div>
            </div>

            {% for i in daftar %}
            <div class="row">
              <div class="cell" data-title="No">
                {{forloop.counter}}
              </div>
              <div class="cell" data-title="Nama level">
                {{i.nama_level}}
              </div>
              <div class="cell" data-title="Deskripsi">
                {{i.deskripsi}}
              </div>
              <div class="cell" data-title="Minimum Poin">
                {{i.minimum_poin}}
              </div>
              <div class="cell" data-title="Action">
                <a class="btn btn-primary" href="{% url 'update-level' %}">Update</a>
                <a class="btn btn-primary" href="#">Delete</a>


            {% for level in request.session.response.all_level_keanggotaan %}
            <div class="row">
              <div class="cell" data-title="Nama level">
                {{ level.nama_level }}
              </div>
              <div class="cell" data-title="Deskripsi">
                {{ level.deskripsi }}
              </div>
              <div class="cell" data-title="Minimum Poin">
                {{ level.minimum_poin }}
              </div>
              <div class="cell" data-title="Action">
                  <a href="{% url 'pemesanan' %}" class="btn btn-info" role="button" style="background-color: black;">Update</a>
                  <a href="{% url 'pemesanan' %}" class="btn btn-info" role="button" style="background-color: black;">Delete</a>
              </div>
            </div>
            {% endfor %}
      </div>
    </div>
  </div>
  {% endblock %}
</body>
</html>