{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pemesanan</title>
  <meta charset="UTF-8">
  {% block cssnya %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/util-admin.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main-admin.css' %}">
<!--===============================================================================================-->
  {% endblock %}
  
</head>

<body>
{% block content %} 
  <div class="container-contact100">
    <div class="contact100-map" id="google_map" data-map-x="40.722047" data-map-y="-73.986422" data-pin="images/icons/map-marker.png" data-scrollwhell="0" data-draggable="1"></div>

    <div class="wrap-contact100">
      <div class="contact100-form-title" style="background-image: url(images/bg-01.jpg);">
        <span class="contact100-form-title-1">
          Form Pemesanan
        </span>

        <span class="contact100-form-title-2">
          Toys Rent
        </span>
      </div>

      <form class="contact100-form validate-form">
        <div class="wrap-input100 validate-input" data-validate="Name is required">
          <span class="label-input100">Anggota:</span>

          <div class="rs-select2 js-select-simple select--no-search">
              <select name="gender">
                  <option disabled="disabled" selected="selected">Nama anggota</option>
                  <option>Rahmat</option>
                  <option>Mustafa</option>
                  <option>Samik</option>
                  <option>Ibrahim</option>
                  <option>Ferguso</option>
              </select>
              <div class="select-dropdown"></div>
          </div>
          <span class="focus-input100"></span>
        </div>


       


        
      <form class="contact100-form validate-form">
          <div class="wrap-input100 validate-input" data-validate="Name is required">
            <span class="label-input100">Barang:</span>
  
            <div class="rs-select2 js-select-simple select--no-search">
                <select name="gender">
                    <option disabled="disabled" selected="selected">Nama barang</option>
                <option>lorem</option>
                <option>ipsum</option>
                <option>dolor</option>
                <option>si amet</option>
                <option>optimus</option>
                </select>
                <div class="select-dropdown"></div>
            </div>
            <span class="focus-input100"></span>
          </div>



          <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
              <span class="label-input100">Lama Sewa (Hari) :</span>
              <input class="input100" type="text" name="email" placeholder="Masukkan lama waktu penyewaan">
              <span class="focus-input100"></span>
            </div>
  


        <!-- <div class="input-group">
            <span class="label-input100">Anggota</span>
          <div class="rs-select2 js-select-simple select--no-search">
              <select name="gender">
                  <option disabled="disabled" selected="selected">Nama anggota</option>
                  <option>Rahmat</option>
                  <option>Mustafa</option>
                  <option>Samik</option>
                  <option>Ibrahim</option>
                  <option>Ferguso</option>
              </select>
              <div class="select-dropdown"></div>
          </div>
      </div> -->


      
      <!-- <div class="input-group">
          <span class="label-input100">Barang</span>
        <div class="rs-select2 js-select-simple select--no-search">
            <select name="gender">
                <option disabled="disabled" selected="selected">Nama barang</option>
                <option>lorem</option>
                <option>ipsum</option>
                <option>dolor</option>
                <option>si amet</option>
                <option>optimus</option>
            </select>
            <div class="select-dropdown"></div>
        </div>
    </div> -->


      

<!-- 
        <div class="wrap-input100 validate-input" data-validate="Name is required">
          <span class="label-input100">Barang:</span>
          <select multiple class="form-control" id="exampleFormControlSelect2">
            <option>lorem</option>
            <option>ipsum</option>
            <option>dolor</option>
            <option>si amet</option>
            <option>optimus</option>
        </select>
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
          <span class="label-input100">Lama Sewa (Hari) :</span>
          <input class="input100" type="text" name="email" placeholder="Masukkan lama waktu penyewaan">
          <span class="focus-input100"></span>
        </div> -->

        <!-- <div class="wrap-input100 validate-input" data-validate="Name is required">
          <span class="label-input100">Tanggal Lahir:</span>
          <input class="input100" type="text" name="tgl" placeholder="Masukkan tanggal lahir anda">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Phone is required">
          <span class="label-input100">Nomor Telepon:</span>
          <input class="input100" type="text" name="phone" placeholder="Masukkan nomor telepon anda">
          <span class="focus-input100"></span>
        </div> -->

        <div class="container-contact100-form-btn">
          <button class="contact100-form-btn">
            <span>
              Submit
              <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div id="dropDownSelect1"></div>
{% endblock %}
</body>
</html>