{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tambah Level</title>
  <meta charset="UTF-8">
  {% block cssnya %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/util-admin.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main-admin.css' %}">
<!--===============================================================================================-->
  {% endblock %}
  
</head>

<body>
{% block content %} 
  <div class="container-contact100">
    <div class="contact100-map" id="google_map" data-map-x="40.722047" data-map-y="-73.986422" data-pin="images/icons/map-marker.png" data-scrollwhell="0" data-draggable="1"></div>

    <div class="wrap-contact100">
      <div class="contact100-form-title" style="background-image: url(images/bg-01.jpg);">
        <span class="contact100-form-title-1">
          Form Tambah Level
        </span>

        <span class="contact100-form-title-2">
          Toys Rent
        </span>
      </div>
      <form class="contact100-form validate-form" style="height: 100%;"  method ="post" action = "{% url 'tambah_level' %}">
          {% csrf_token %}
        <div class="wrap-input100 validate-input" data-validate="Nama level is required">
          <span class="label-input100">Nama level:</span>
          {{form.nama_level}}
          <!-- <input class="input100" type="text" name="nama" placeholder="Nama level"> -->
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Minimum poin required">
          <span class="label-input100">Minimum poin:</span>
          {{form.minimum_poin}}
          <!-- <input class="input100" type="text" name="deskripsi" placeholder="Minimum poin"> -->
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Deskripsi required">
            <span class="label-input100">Deskripsi:</span>
            {{form.deskripsi}}
            <!-- <input class="input100" type="text" name="deskripsi" placeholder="Deskripsi"> -->
            <span class="focus-input100"></span>
          </div>
  



        <div class="container-contact100-form-btn">
          <button class="contact100-form-btn">
            <span>
              Submit
              <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div id="dropDownSelect1"></div>
{% endblock %}
</body>
</html>