{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Update Pemesanan</title>
  <meta charset="UTF-8">
  {% block cssnya %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/util-admin.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main-admin.css' %}">
<!--===============================================================================================-->
  {% endblock %}
  
</head>

<body>
{% block content %} 
  <div class="container-contact100">
    <div class="contact100-map" id="google_map" data-map-x="40.722047" data-map-y="-73.986422" data-pin="images/icons/map-marker.png" data-scrollwhell="0" data-draggable="1"></div>

    <div class="wrap-contact100">
      <div class="contact100-form-title" style="background-image: url(images/bg-01.jpg);">
        <span class="contact100-form-title-1">
          Form Update Pemesanan 
        </span>

        <span class="contact100-form-title-2">
          Toys Rent
        </span>
      </div>

      <form class="contact100-form validate-form" style="height: 100%;">
        <div class="wrap-input100 validate-input" data-validate="Nama barang is required">
          <span class="label-input100">Barang:</span>
          <input class="input100" type="text" name="nama" placeholder="Nama barang">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Lama sewa is required">
          <span class="label-input100">Lama sewa (hari):</span>
          <input class="input100" type="text" name="deskripsi" placeholder="Lama sewa">
          <span class="focus-input100"></span>
        </div>


      

          <div class="input-group">
              <span class="label-input100">Status</span>
            <div class="rs-select2 js-select-simple select--no-search">
                <select name="gender">
                    <option disabled="disabled" selected="selected">Status</option>
                    <option>Lorem</option>
                    <option>Ipsum</option>
                    <option>Dolor</option>
                </select>
                <div class="select-dropdown"></div>
            </div>
        </div>


     
        <div class="container-contact100-form-btn">
          <button class="contact100-form-btn">
            <span>
              Submit
              <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div id="dropDownSelect1"></div>
{% endblock %}
</body>
</html>