{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Anggota</title>
  <meta charset="UTF-8">
  {% block cssnya %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/util-admin.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main-admin.css' %}">
<!--===============================================================================================-->
  {% endblock %}
  {% block title %}
  Register Anggota
{% endblock %}
  
</head>

<body>
{% block content %} 
  <div class="container-contact100">
    <div class="contact100-map" id="google_map" data-map-x="40.722047" data-map-y="-73.986422" data-pin="images/icons/map-marker.png" data-scrollwhell="0" data-draggable="1"></div>

    <div class="wrap-contact100">
      <div class="contact100-form-title" style="background-image: url(images/bg-01.jpg);">
        <span class="contact100-form-title-1">
          Form Pendaftaran Pengguna
        </span>

        <span class="contact100-form-title-2">
          Toys Rent
        </span>
      </div>

      <form class="contact100-form validate-form">
        <div class="wrap-input100 validate-input" data-validate="Name is required">
          <span class="label-input100">No. KTP:</span>
          <input class="input100" type="text" name="ktp" placeholder="Masukkan no KTP anda">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Name is required">
          <span class="label-input100">Nama Lengkap:</span>
          <input class="input100" type="text" name="name" placeholder="Masukkan no KTP anda">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
          <span class="label-input100">Email:</span>
          <input class="input100" type="text" name="email" placeholder="Masukkan email anda">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Name is required">
          <span class="label-input100">Tanggal Lahir:</span>
          <input class="input100" type="text" name="tgl" placeholder="Masukkan tanggal lahir anda">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Phone is required">
          <span class="label-input100">Nomor Telepon:</span>
          <input class="input100" type="text" name="phone" placeholder="Masukkan nomor telepon anda">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Name is required">
          <span class="label-input100">Alamat:</span>
          <input class="input100" type="text" name="tgl" placeholder="Jenis alamat">
          <input class="input100" type="text" name="tgl" placeholder="Nama jalan">
          <input class="input100" type="text" name="tgl" placeholder="Nomor rumah">
          <input class="input100" type="text" name="tgl" placeholder="Kota">
          <input class="input100" type="text" name="tgl" placeholder="Kodepos">
          <span class="focus-input100"></span>
        </div>

        <div class="container-contact100-form-btn">
          <button class="contact100-form-btn">
            <span>
              Submit
              <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div id="dropDownSelect1"></div>
{% endblock %}
</body>
</html>