{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Create Item</title>
  <meta charset="UTF-8">
  {% block cssnya %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/util-admin.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main-admin.css' %}">
<!--===============================================================================================-->
  {% endblock %}

  {% block title %}
  Create Item
{% endblock %}
  
</head>

<body>
{% block content %} 
  <div class="container-contact100">
    <div class="contact100-map" id="google_map" data-map-x="40.722047" data-map-y="-73.986422" data-pin="images/icons/map-marker.png" data-scrollwhell="0" data-draggable="1"></div>

    <div class="wrap-contact100">
      <div class="contact100-form-title" style="background-image: url(images/bg-01.jpg);">
        <span class="contact100-form-title-1">
          Form Penambahan Item
        </span>

        <span class="contact100-form-title-2">
          Toys Rent
        </span>
      </div>

      <form method = "POST" action='add_item' class="contact100-form validate-form" style="height: 100%;">
        {% csrf_token %}
        <div class="wrap-input100 validate-input" data-validate="Name is required">
          <span class="label-input100">Nama:</span>
          <input class="input100" type="text" name="nama" placeholder="Nama item" required>
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Name is required">
          <span class="label-input100">Deskripsi:</span>
          <input class="input100" type="text" name="deskripsi" placeholder="Deskripsi item">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Name is required">
          <span class="label-input100">Rentang usia:</span>
          <input class="input100" type="text" name="usia_dari" placeholder="Usia minimal" required>
          <input class="input100" type="text" name="usia_sampai" placeholder="Usia maksimal">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Phone is required">
          <span class="label-input100">Bahan:</span>
          <input class="input100" type="text" name="bahan" placeholder="Bahan item">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Phone is required">
          <span class="label-input100">Kategori:</span>
            <div class="form-group">
                  <p>tekan shift untuk pilih lebih dari 1 kategori</p>
                  <select required multiple class="form-control" name = "kategori">
                  {% for i in daftar %}
                   <option>{{ i.nama }}</option>
                  {% endfor %}
                  </select>
            </div>
          <span class="focus-input100"></span>
        </div>

        <div class="container-contact100-form-btn">
          <button class="contact100-form-btn">
            <span>
              Submit
              <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div id="dropDownSelect1"></div>
{% endblock %}
</body>
</html>