<!-- ANGGOTA -->

{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Daftar Item</title>
  <meta charset="UTF-8">
  {% block cssnya %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->  
  <link rel="stylesheet" type="text/css" href="{% static 'css/util-item.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main-item.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
  {% endblock %}

  {% block title %}
  Daftar Item
{% endblock %}

</head>
<body>
  {% block content %}   
  <div class="limiter">
    <div class="container-table100" style="padding: 3px 30px; background: #C0F3F0">
      <div class="wrap-table100">
        <br>
            <center>
              <h1> Daftar Item </h1><br><br>
            </center>
            <form class="form-inline">
                    <div class="input-group">
                        <div class="rs-select2 js-select-simple select--no-search">
                            <select name="gender">
                                <option disabled="disabled" selected="selected">Filter</option>
                                <option>Baby Walker</option>
                                <option>Rumah_rumahan</option>
                                <option>Musik Mainan</option>
                                <option>Motorik Kasar</option>
                                <option>Motorik Halus</option>
                                <option>Aksesoris Bayi</option>
                                <option>Gendongan</option>
                                <option>Stroller</option>
                                <option>Car Seat</option>
                                <option>Kendaraan Mainan</option>
                            </select>
                            <div class="select-dropdown"></div>
                        </div>
                    </div>

                    <div class="input-group">
                        <div class="rs-select2 js-select-simple select--no-search">
                            <select name="gender">
                                <option disabled="disabled" selected="selected">Sort</option>
                                <option>Baby Walker</option>
                                <option>Rumah_rumahan</option>
                                <option>Musik Mainan</option>
                                <option>Motorik Kasar</option>
                                <option>Motorik Halus</option>
                                <option>Aksesoris Bayi</option>
                                <option>Gendongan</option>
                                <option>Stroller</option>
                                <option>Car Seat</option>
                                <option>Kendaraan Mainan</option>
                            </select>
                            <div class="select-dropdown"></div>
                        </div>
                    </div>
                        <button type="submit" class="btn btn-primary mb-2">Filter & sort</button>
              </form>
            <br>
          <div class="table">
            <div class="row header">
              <div class="cell" style="width: 10%;">
                No.
              </div>
              <div class="cell" style="width: 30%;">
                Nama Item
              </div>
              <div class="cell" style="width: 20%;">
                Kategori
              </div>
              <div class="cell" style="width: 25%;">
                Action
              </div>
            </div>

            {% for i in daftar %}
            <div class="row">
              <div class="cell" data-title="No.">
                {{forloop.counter}}
              </div>
              <div class="cell" data-title="Item">
                {{i.nama_item}}
              </div>
              <div class="cell" data-title="Kategori">
                {{i.nama_kategori}}
              </div>
              <div class="cell" data-title="Action">
                <a href="{% url 'lihat_brg' namaItem=i.nama_item %}" class="btn btn-info" role="button" style="background-color: #6c7ae0; font-size: 13px;">lihat barang</a>
              </div>
            </div>
            {% endfor %}
          </div>
      </div>
    </div>
  </div>
  {% endblock %}
</body>
</html>