{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Daftar Item</title>
  <meta charset="UTF-8">
  {% block cssnya %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->  
  <link rel="stylesheet" type="text/css" href="{% static 'css/util-item.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main-item.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
  {% endblock %}

  {% block title %}
  Foto Mainan
  {% endblock %}

</head>

<body>
  {% block content %}
  <center><br>
  <h1>FOTO MAINAN</h1><br>
  {% for i in daftar %}
  <img src="{{i.url_foto}}">
  {% endfor %}
  </center>
  {% endblock %}
</body>
</html>