{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}
  Login
{% endblock %}
{% block cssnya %}
    
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->
	{% endblock %}
{% block content %}	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method ="post" action = "{% url 'login_page' %}">
					{% csrf_token %}
					<span class="login100-form-title p-b-34">
						Account Login
					</span>
	
					<div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">
						<!-- <input id="first-name" class="input100" type="text" name="username" placeholder="Nomor KTP"> -->
						{{ form.ktp }}
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type password">
						<!-- <input class="input100" type="text" name="pass" placeholder="Email"> -->
						{{ form.email }}
						<span class="focus-input100"></span>
					</div>
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div>
				</form>

				<div class="login100-more" style="background-image: url('https://i.ibb.co/SN1YjM4/S-8519712.jpg');"></div>
			</div>
		</div>
	</div>
	
	{% endblock %}

	<div id="dropDownSelect1"></div>