{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% block title %}
  Profile
{% endblock %}
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% block cssnya %}
<!-- main css -->
<link rel="stylesheet" href="{% static 'css/profil_css.css' %}">

{% endblock %}

{% block content %} 
<!-- Hero section start -->
	
	<section class="hero-section spad">
		
		<center><h1 style="font-size: 80px; margin-top: 50px;"> Profil </h1></center>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-10 offset-xl-1">
					<div class="row">
						<div class="col-lg-10">
							<div class="hero-info">
								{% for i in daftar %}
								<h2>Informasi:</h2>
								<ul>
									<li><span>No. KTP</span> {{ i.no_ktp }} </li>
									<li><span>Nama Lengkap</span> {{ i.nama_lengkap }} </li>
									<li><span>Email</span> {{ i.email }} </li>
									<li><span>Tanggal Lahir</span> {{ i.tanggal_lahir }} </li>
									<li><span>Nomor Telepon</span> {{ i.no_telp }} </li>
								</ul>
							</div>
							{% endfor %}
						</div>
						
					</div>
				</div>
			</div>
		</div>
	
	</section>
	<!-- Hero section end -->
{% endblock %}